# Ignore build outputs
**/dist
**/.vitepress/dist
**/.vitepress/cache
**/.output

# Ignore cache and temporary files
**/.vite
**/.cache
**/.temp

# Ignore dependencies
node_modules

# Package files
package.json
package-lock.json
pnpm-lock.yaml
yarn.lock

# Ignore other common unnecessary files
.DS_Store
.env*

# Tailwind CSS 4 cache
.twcache

# Other assets
*.svg
*.min.css
*.min.js